.App {
  text-align: center;
  background-color: rgb(254, 234, 209);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: #282c34; */
  min-height: 100vh;
  min-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  /* color: white; */
  color: black;
  background-image: url('./images/game_bg.JPG');
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center center;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header-count {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 100px;
  flex: 0;
  box-sizing: border-box;
  padding-right: 15%;
}

.header-count span {
  font-size: 140px;
  font-weight: 600;
}

.main {
  min-height: 300px;
  font-size: 200px;
  width: 100%;
  padding-top: 5%;
  flex: 1;
}

.operation {
  display: flex;
  flex: 0;
  flex-basis: 260px;
}

.timer-ctrl,
.word-ctrl {
  display: flex;
  /* justify-content: center; */
  gap: 10px;
}
