.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  /* color: white; */
  color: black;
  /* background-image: url('./images/bg.PNG'); */
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header-count {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 100px;
  flex: 0;
}

.header-count span {
  font-size: 80px;
}

.main {
  min-height: 400px;
  font-size: 80px;
  width: 100%;
  padding-top: 40px;
  flex: 1;
}

.operation {
  display: flex;
  flex: 0;
  flex-basis: 60px;
}

.timer-ctrl,.word-ctrl {
  display: flex;
  justify-content: center;
  gap: 10px;
}
